<nav class="navbar navbar-dark fixed-top bg-dark" id="bar">
      <a href="/" class="navbar-brand rounded-pill p-2"><img src="https://dioses.s3-us-west-2.amazonaws.com/zeus.svg" width="30"> DIOSES GRIEGOS
			</a>
     <form method="GET" action="/busqueda">
     	<div class="input-group mb-3">
		  <input type="text" class="form-control" name="n" placeholder="Dios en español">
		  <div class="input-group-append">
		    <button class="btn btn-primary" type="submit"><i class="fas fa-search"></i> Buscar</button>
		  </div>
		</div>
     </form>
</nav>



<style type="text/css">
	.btn-orange {
		background-color: orange;
	}
</style>

<nav class="navbar fixed-bottom navbar-sm navbar-dark bg-dark" id="baja">
	
			<button class="btn btn-info btn-lg w-auto d-flex justify-content-center" id="formulario" onclick="location.href = '/formulario'"><i class="fa fa-plus" aria-hidden="true"> </i> </button>


<div class="btn-group" role="group" aria-label="final">
			<button class="btn btn-secondary ml-1 w-auto btn-sm d-flex" type="button" onclick="location.href = 'https://m.me/DiccNahuatl'"><i class="fab fa-facebook-messenger"></i> </button>
			<button class="btn btn-secondary ml-1 w-auto btn-sm d-flex" id="palabras" type="button" onclick="location.href ='/palabras'"><i class="fa fa-user" aria-hidden="true"></i></button>
			<button class="btn btn-secondary ml-1 w-auto btn-sm d-flex" id="frases" type="button"  onclick="location.href ='/frases'"><i class="fa fa-bolt" aria-hidden="true"></i></button>
			<button class="btn btn-secondary ml-1 w-auto" id="mispublicaciones" type="button" onclick="location.href ='/mispublicaciones'"><i class="fa fa-archive" aria-hidden="true"></i></button>

	</div>
	<a href="/configuracion" class="btn btn-outline-secondary ml-sm-1"><i class="fa fa-cog" aria-hidden="true"></i></a>


</nav>

<script type="text/javascript">
	$('#bsq').submit(function(e) {
		
		e.preventDefault();
		buscar();
		//return false;
	})

	function buscar() {
		var grupos = [600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 777, 000];
		console.log(document.getElementById('inputbusqueda').value);
		var equipos = [1, 2, 3, 4, 5, 6, 7 , 8, 9, 10];
		var a = parseInt(document.getElementById('inputbusqueda').value);
		if(!isNaN(parseFloat(a)) && isFinite(a)) {
			if(grupos.includes(a)) {
				location.href = ('/busqueda?g=' + document.getElementById('inputbusqueda').value);
			}
			else if(equipos.includes(a)) {
				location.href = ('/busqueda?e=' + document.getElementById('inputbusqueda').value);
			}
			else {
				location.href = ('/busqueda?n=' + document.getElementById('inputbusqueda').value);
			}
		}
		else {
			location.href = ('/busqueda?n=' + document.getElementById('inputbusqueda').value);
		}
	}

	</script>

	<script type="text/javascript">
		function activar(id) {
			document.getElementById(id).classList.remove('btn-secondary');
			document.getElementById(id).classList.add('btn-primary')
		}

		function icono(t) {
			if(t) {
				document.getElementById('mispublicaciones').classList.remove('btn-primary');
				document.getElementById('mispublicaciones').classList.add('btn-orange')
			}
			else {
				document.getElementById('mispublicaciones').classList.remove('btn-primary');
				document.getElementById('mispublicaciones').classList.add('btn-info')
			}
		}
		var ubi = window.location.pathname;
		if(ubi == '/letra') {
			activar('letra')
		}
		if(ubi == '/palabras') {
			activar('palabras')
		}
		if(ubi == '/frases') {
			activar('frases')
		}
		if(ubi == '/publicaciones') {
			activar('mispublicaciones')
			if(window.location.search.substr(1).split('=')[1] == document.cookie.split(';')[1].split('=')[1]) {
				icono(true)
			}
			else if(document.cookie.split(';')[1].split('=')[1] !== window.location.search.substr(1).split('=')[1]) {
				icono(false)
			}

		}

		
	</script>
