<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../partials/head %>
</head>
<header>
    <% include ../partials/header %>
</header>
<body style="background-color: darkgray">
  <br> <br>
  <div class="jumbotron container align-middle">
    <object type="application/x-shockwave-flash" data="https://atenas.sfo2.digitaloceanspaces.com/poseidon.swf" width="100%" height="300">
    <param name="movie" value="https://atenas.sfo2.digitaloceanspaces.com/poseidon.swf" />
    <param name="quality" value="high" />
    <a align="center" href="https://get.adobe.com/es/flashplayer/"> 
      <span class="badge badge-info">Click aqui para ejecutar Flash y mostrar las animaciones. </span>  </a>
    <br> <span><br></span>
    <video  width="100%" height="300" autoplay controls loop>
      <source src="/static/?file=poseidon.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</object>
<object type="application/x-shockwave-flash" data="https://atenas.sfo2.digitaloceanspaces.com/Zeus.swf" width="100%" height="300">
  <param name="movie" value="https://atenas.sfo2.digitaloceanspaces.com/Zeus.swf" />
  <param name="quality" value="high">
  <br> <span><br></span>
  <video width="100%" height="300" autoplay controls loop>
    <source src="https://atenas.sfo2.digitaloceanspaces.com/Zeus.mp4" type="video/mp4">
      Your browser does not support the video tag.
  </video>
</object>
  </div>
</body>
</html>