


<!DOCTYPE html>
<html lang="es">
<head>
	<title>Estadisticas - Diccionario Nahuatl</title>
	<%- include ('../partials/head.ejs') -%>


</head>
<%- include ('../partials/header.ejs') -%>
<body class="text-white">
	<br>

	<div class="wrapper">

		<div class="container" style="padding-top: 5rem; padding-bottom: 5rem">
			<iframe style="background: rgba(211, 211, 211, 0);border: none;border-radius: 2px;" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-zkiax/embed/charts?id=9ad9d287-ad61-4884-a181-3036a66be2f5&autorefresh=28800&theme=dark"></iframe>
	</div>
</body>
</html>

