<!DOCTYPE html>
<html lang="es">
<head>
  <title>Formulario - Diccionario Dios</title>
    <%- include ('../partials/head') -%>
</head>

<header>
    <%- include ('../partials/header') -%>
</header>
<body class="text-white">

  <div class="container">
    <br><br>
    <a class="my-5 text-danger" href="/herramientas">HERRAMIENTAS: Verificar si es imagen, buscar duplicados</a>
    <br><br>
<form id="form1" name="form1" method="get" action="/postDios">
  <table width="95%" border="0">
    <tr>
      <td>Autor</td>
      <td>
        <input type="text" name="autor" id="autor" value="<%=autor%>" disabled>
        <% if(autor == "Anónimo") {%>
        <span class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom" title="Registrate para agregar tu nombre y modificarlo posteriormente."></span> 
        <% }%>
      </td>
    </tr>
    <tr>
      <td>Matricula: <span class="requerido"></td>
      <td>
        <input type="number" name="matricula" value="" required>
        </td>
    </tr>
      <tr>
      <td>&nbsp;</td>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td>¿Es un Dios/Diosa?</td>
      <td>
        <input type="checkbox" name="esdios" id="esdios"> 
      </td>
    </tr>
    </tr>
      <tr>
      <td>&nbsp;</td>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr id="palabratr">
      <td>Dios en Español <span class="requerido"></span></td>
      <td colspan="2"><input type="text" onchange="comprobarDios()" name="espanol" value="" id="espanol"  /></td>
    </tr>
    <tr>
      <td>Dios en Griego <span class="requerido"></span></td>
      <td colspan="2"><input type="text" value="" name="Dios" id="Dios" required/></td>
    </tr>
    </tr>
      <tr>
      <td>&nbsp;</td>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr id="imagen">
      <td>Imagen</td>
      <td colspan="2"><input type="url" name="imagen" value="" id="imagen" placeholder="https://" /></td>
    </tr>
    </tr>
      <tr>
      <td>&nbsp;</td>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td>Transliteracion:</td>
      <td><input type="text" value="" name="transliteracion"></td>
    </tr>
    <tr>
      <td>Raiz (es)</td>
      <td><input type="text" value="" name="raiz" placeholder="Separar por coma si son varias"></td>
    </tr>
    <tr>
      <td>Historia</td>
      <td><input type="text" value="" name="historia"></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td>Aspectos historicos</td>
      <td><input type="text" value="" name="historicos"></td>
    </tr>
    <tr>
      <td>Aspectos Evolutivos</td>
      <td><input type="text" value="" name="evolutivos"></td>
    </tr>
    <tr>
      <td>Origenes</td>
      <td><input type="text" value="" name="origenes"></td>
    </tr>
    <tr>
      <td>Morfologia</td>
      <td><input type="text" value="" name="morfologia"></td>
    </tr>
    <tr>
      <td>Derivado</td>
      <td><input type="text" value="" name="morfemas"></td>
    </tr>
    <tr>
      <td>Semiotica</td>
      <td><input type="text" value="" name="semiotica"></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <button type="reset" class="btn btn-danger">
          <i class="fa fa-eraser"></i> Restablecer
        </button>
        <!--<input class="btn btn-danger" type="reset" name="button" id="button" value="Restablecer" /> -->
        


        <!--<button type="submit" class="btn btn-primary">
          <i class="fa fa-paper-plane"></i> Enviar
        </button>
        --->

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
          Enviar
        </button>

        <!--<i class="fa fa-paper-plane" aria-hidden="true"></i><input class="btn btn-primary" type="submit" name="button2" id="button2" value="Enviar">   -->
      </div></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="2">&nbsp;</td>
    </tr>
  </table>
  <div class="modal fade text-dark" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Continuar?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <span id="mensaje"> </span>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" id="btnsubmit" class="btn btn-primary">
          <i class="fa fa-paper-plane"></i> Enviar
        </button>
      </div>
    </div>
  </div>
</div>
</form>
</div>
<script>

  function comprobarDios() {
    /*$.ajax({
        url: "/apiduplicados",
        dataType: "json",
        data: function(datos) {
          console.log(datos)
        }
    })*/
    $.getJSON('/existe?entrada=' + document.getElementById('espanol').value, function(data) {
      console.log(data)
      if(data.length > 0) {
        //alert('DUPLICADO')
        document.getElementById('espanol').classList.add('bg-danger');
        
        document.getElementById('espanol').classList.remove('bg-success')
        document.getElementById('btnsubmit').disabled = true;
        document.getElementById('mensaje').innerHTML = "El dios ya existe. Inicia sesion si deseas modificarlo"
      }
      else {
        //alert('NO EXISTE')
        document.getElementById('espanol').classList.add('bg-success')
        document.getElementById('espanol').classList.remove('bg-danger')
        
        document.getElementById('btnsubmit').disabled = false;
        document.getElementById('mensaje').innerHTML = "¿Desea continuar?"
      }
    })
  }

   $(function(){
            $('[data-toggle="tooltip"]').tooltip();
   }) 
   
</script>



</body>
</html>


<style type="text/css">
  .requerido:after {
    color: red;
    content: "(*)";
  }
  .duplicado:after {
    color: blue;
    content: "(*)";
  }
</style>