<!DOCTYPE html>
<html lang="es">
<head>
  <%- include ('../partials/head') -%>
  <style type="text/css">
    body {
        padding-top: 0.1rem;
        padding-bottom: 0.5rem;
    }
.login-form
{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

  </style>
</head>
<body class="text-white">
    

   

    <div class="container  jumbotron" style="background-color: transparent;">

        <div class="row justify-content-center text-dark">

            <div class="col-md-8">
                <div class="card px-3">
                    <div class="text-center">
                    <h1 class="display-4" style="color: gray">DICCIONARIO NAHUATL</h1>
                    <img class="img-fluid" src="https://image.flaticon.com/icons/svg/207/207127.svg" width="20%" alt="Icon made by smashicons from www.flaticon.com"> 
                    </div>
                    <hr style="border-color: lightgray;">
                    
                    <div class="card-body">

                        <form action="/modificarPerfil" method="POST">
                            <h2> Modificar perfil</h2>
                            <div class="form-group row">
                                <label  for="equipo" class="col-md-4 col-form-label text-md-right">Equipo</label>
                                <div class="col-md-6">
                                    <input id="equipo" class="form-control" name="equipo" type="text" required value="<%=user.equipo%>">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Contraseña</label>
                                <div class="col-md-6">
                                    <input type="password" id="password" class="form-control" name="password" required>
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-paper-plane" aria-hidden="true"> </i> Guardar cambios
                                </button>
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    </div>



</body>
</html>