<!DOCTYPE html>
<html lang="es">
<head>
    <% include ../partials/head %>
</head>

<header>
    <% include ../partials/header %>
</header>
<body>

	<div class="container yp-sm-1 align-middle">
  <form id="form1" name="form1" method="get" action="/deldios">
  <table class="table table-borderless">
    <input type="hidden" name="op" value="del">
  <thead>
    <tr>
      <th scope="col" colspan="4">¿Deseas eliminar la entrada '<%=dios.espanol%>'?</th>
    </tr>
  </thead>
  <tbody>
    <tr colspan="2">
      <td>CODIGO <input type="text" name="recuperacion" maxlength="4" style="text-transform: uppercase;" required minlength=4></th>
    </tr>
    <input type="hidden" name="id" value="<%=id%>">
    <tr>
      <td>
        <button type="submit" class="btn btn-danger">
          <i class="fa fa-trash"></i> Confirmar
        </button>
        <a class="btn btn-primary" href="/">
          <i class="fa fa-home"></i> Ir a Inicio
        </a>
      </td>
    </tr>
  </tbody>
</table>
</form>
  </div>
</body>
</html>