<!DOCTYPE html>
<html lang="es">
<head>
	<title>Ahora puedes cerrar esta pestaña</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://dioses.s3-us-west-2.amazonaws.com/estilo.css">

<!--


<meta content="width=device-width, initial-scale=1.0" name="viewport">

-->
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta content="diccionario, nahuatl, vcano5.com, www.vcano5.com" name="keywords">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Weather PWA">
<link rel="apple-touch-icon" href="https://dioses.s3-us-west-2.amazonaws.com/icon-152x152.png">

<meta name="description" content="Diccionario Nahuatl">

<meta name="theme-color" content="#343a40">

<link rel="icon" type="image/png" sizes="32x32" href="https://image.flaticon.com/icons/svg/207/207127.svg">
<link rel="icon" type="image/png" sizes="16x16" href="https://image.flaticon.com/icons/svg/207/207127.svg">

<link rel="manifest" href="https://dioses.s3-us-west-2.amazonaws.com/site.webmanifest">
<link rel="mask-icon" href="https://dioses.s3-us-west-2.amazonaws.com/safari-pinned-tab.svg" color="#343a40">
<meta name="msapplication-TileColor" content="#343a40">


<style type="text/css">
		body {
	        padding-top: 2rem;
	        padding-bottom: 3.5rem;
	    }
	</style>
</head>
<body>
	<p class="display-2"> Ahora puedes cerrar esta pagina</p>
</body>
</html>


<script type="text/javascript">
	setTimeout(function() {
		window.close()
	},2000)
</script>
