<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form ref='uploadForm' encType="multipart/form-data" class="" action="/upload" method="post">
      <input type="text" name="fileName" value=""><br>
      <input type="file" name="foo" value=""><br>
      <input type="submit" name="" value="upload!">
    </form>
  </body>
</html>